<div>
  <center>
    <p class="center">СПРАВКА № <%= user['NUMK'] %></p>                        
    <p class="center">По состоянию на <%= date %></p>
  </center>
  <br>
  <br>
<p><%= "#{user['FM']} #{user['IM']} #{user['OT']}" %></p>
<p>Адрес регистрации: <%= user['AD'] %></p>   
        
<p>в соответствии с законодательством о занятости населения в Российской Федерации с  04.03.2009</p>      
<p>состоял(а) на учете в ГУ "Центр занятости населения города Читы"</p>                 
                  
<p>Продолжает состоять на учете<p>                 
                  
<p>Вид выплаты - пособие по безработице<p>            
                  
<p>Сумма начисленных выплат за последние шесть месяцев составляет: <%= total_amount(user) %><p>  

<%= table_money_monthly(user, date) %>    
          
<p>Основание: файл выгрузки базы данных центра занятости населения от <%= date %></p>                  
                  
<p>И.О.руководителя</p>                  
<p>"Государственной службы занятости населения Забайкальского края"      ЭЦП верна   Щеглова И.С.</p>        
<p>(подпись)   (Ф.И.О.)</p>        
                  
<p>Главный инспектор отдела автоматизации ГКУ "КЦСЗН" Забайкальского края      ЭЦП верна   Горбачёв А.А.</p><br>       
<p style="text-align: right;text-decoration: overline;">(подпись)   (Ф.И.О.)</p>
                  
<p>Справка соответствует электронному документу</p><br>                  
<p style="text-align: right;text-decoration: overline;">(подпись)   (Ф.И.О. специалиста филиала ЕСРЦ)</p>       
</div>
