<!DOCTYPE html>
<html>
  <head>
    <title>WebKcszn</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/nav_top' %>
    <div id="content">
    <div class="nav_left"><%= render 'layouts/nav_left' %></div>
      <%= yield %>
    </div>
  </body>
</html>
